.logoutIcon{
  background-color: #f1e1ff;
  width: 35px;
  height: 35px;
  margin-left: 5px;
}
.btnLogout{
  border: none;
  background-color: white;
  padding: 5px;

}
.navbarLogoutText{
  height: 35px;
  margin-left: 2vw;
  font-size: 1.2rem;
}
.btnLogout:hover{
  background-color: #ffc107;
  border-radius: 4px;
}

.btnLogout:hover .logoutIcon{
  background-color: #ffc107;
}
.submitBtn {
  outline: none;
  border: none;
  background-color: #6700cc;
  width: 8vw;
  border-radius: 5px;
  font-size: 1.2rem;
  margin-bottom: 2vh;
}