.logoutIcon{
  color: #ffc107;
  width: 35px;
  height: 35px;
  margin-left: 5px;
  @apply bg-violet-700 rounded flex justify-center items-center
}
.userPageHeader{
  @apply text-3xl text-center
}
.userPageContant{
  @apply flex mt-5
}
.userPageMain{
  @apply w-9/12
}
.userPageNav{
  @apply w-3/12
}
.navbarLogoutText{
  height: 35px;
  margin-left: 2vw;
  font-size: 1.2rem;
}
.btnLogout:hover{
  background-color: #ffc107;
  border-radius: 4px;
}

.btnLogout:hover .logoutIcon{
  background-color: #ffc107;
}
.submitBtn {
  outline: none;
  border: none;
  background-color: #6700cc;
  width: 8vw;
  border-radius: 5px;
  font-size: 1.2rem;
  margin-bottom: 2vh;
}